<style>
<<<<<<< HEAD

=======
@import url('https://fonts.googleapis.com/css?family=Poppins:300&display=swap');
>>>>>>> d6c663571e60049c9b09fe40e20c49e3f37b3298
  .aboutus-contain {
    position: relative;
    color: black;
    text-align: justify;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    width:70%;
  }
  .img-fluid {
    height: 250px;
    /* width: ; */
  }
  .separator1 {
    letter-spacing: 0.2em;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    height: 70px;
    font-size: medium;
    padding-top: 20px;
    color: black;
  }
.aboutus{
  background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
  .separator1::before,
  .separator1::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
    
    

  }
  .separator1::before {
    margin-right: 5em;
  }
  .separator1::after {
    margin-left: 5em;
  }
  @media screen and (max-width: 767px) {
    center .img-fluid {
      height: 400px;
      margin-top: 40px;
    }
  }
</style>
<div class="container">
  <div class="separator1"><h1>ABOUT US</h1></div>
  <div class="row">
    <div class="col-md-9">
      <p class="aboutus-contain" style="margin-top: 50px;">
        The Annual Techno-Literary-Management Fest of College of Engineering and
        Technology, Bhubaneswar sees a footfall of more than 4,000 students from
        across the state to participate in brainstorming and inquisitive events
        spanning over 3 days, capping it off with a Star-Night. This Year as CET
        students shined in various hackathons and fests across the nation, we
        decided to bring all those people to our den and compete at a higher
        level.
      </p>
    </div>
    <div class="col-md-3">
      <center>
        <img class="img-fluid" src="assets/img/mrglitch-1.jpg" />
      </center>
    </div>
  </div>
</div>
