<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    .aboutus-contain{
        position: relative;
        color: white; 
        text-align: left;
        font-size: large;
        font-family: 'Roboto', sans-serif;
    }
</style>
<div class="container"  >
    <div class="separator" style="height: 120px; font-size: medium ;"><h1>ABOUT US</h1></div>
        <p class="aboutus-contain" > The Annual Techno-Literary-Management Fest of College of Engineering and
            Technology, Bhubaneswar sees a footfall of more than 4,000 students from across
            the state to participate in brainstorming and inquisitive events spanning over 3 days,
            capping it off with a Star-Night. This Year as CET students shined in various hackathons and fests across the nation, we decided to bring all those people to our den and
            compete at a higher level. 
        </p>
</div>