<div class="separator" ><h1>E V E N T S</h1></div>
<div class="box" > 
  <div class="card-deck" style="justify-content: space-between;">
    <a href="/techevents" class="card-block " style="margin-top: 50px;">
      <div class="imgBx">
        <img
          src="assets/img/Tech.png"
          alt="images"
        />
      </div>
      <div class="details">
        <h2>Techincal Event<br/></h2>
      </div>
    </a>

    <a href="/litevents" class="card-block" style="margin-top: 50px;">
      <div class="imgBx">
        <img
          src="assets/img/Lit.png"
          alt="images"
        />
      </div>
      <div class="details">
        <h2>Literary Event<br /></h2>
      </div>
    </a>

    <a href="/manevents" class="card-block" style="margin-top: 50px;">
      <div class="imgBx">
        <img
          src="assets/img/Manage.png"
          alt="images"
        />
      </div>
      <div class="details">
        <h2>
          Management<br />
          Event
        </h2>
      </div>
    </a>

    <div class="card-block" style="margin-top: 50px;">
      <div class="imgBx">
        <img
          src="assets/img/Flag.png"
          alt="images"
        />
      </div>
      <div class="details">
        <h2>Flagship<br />Events</h2>
      </div>
    </div>

    <div class="card-block" style="margin-top: 50px;">
      <div class="imgBx">
        <img
          src="assets/img/fun.png"
          alt="images"
        />
      </div>
      <div class="details">
        <h2>Workshops <br />
        </h2>
      </div>
    </div>

    <div class="card-block" style="margin-top: 50px;">
      <div class="imgBx">
        <img
          src="assets/img/Star.png"
          alt="images"
        />
      </div>
      <div class="details">
        <h2>Star<br />Night</h2>
      </div>
    </div>
    
  </div>
</div>
<%- include('button') %>  
