<div class="separator" ><h1>EVENTS</h1></div>
<div class="box" style="background-color: aqua; z-index: 500;">
  <div class="card-deck" style="justify-content: space-between;">
    <a href="/techevents" class="card-block " style="margin-top: 50px;">
      <div class="imgBx">
        <img
          src="assets/img/Tech.png"
          alt="images"
        />
      </div>
      <div class="details">
        <h2>Technical Events <br/></h2>
      </div>
    </a>

    <a href="/litevents" class="card-block" style="margin-top: 50px;">
      <div class="imgBx">
        <img
          src="assets/img/Lit.png"
          alt="images"
        />
      </div>
      <div class="details">
        <h2>Literary Events<br /></h2>
      </div>
    </a>

    <a href="/manevents" class="card-block" style="margin-top: 50px;">
      <div class="imgBx">
        <img
          src="assets/img/Manage.png"
          alt="images"
        />
      </div>
      <div class="details">
        <h2>
          Management<br />
          Events
        </h2>
      </div>
    </a>

    <a href="/flagevents" class="card-block" style="margin-top: 50px;">
      <div class="imgBx">
        <img
          src="assets/img/Flag.png"
          alt="images"
        />
      </div>
      <div class="details">
        <h2>Flagship<br />Events</h2>
      </div>
    </a>

    <div class="card-block" style="margin-top: 50px;">
      <div class="imgBx">
        <img
          src="assets/img/fun.png"
          alt="images"
        />
      </div>
      <div class="details">
        <h2>Workshops <br />
        </h2>
      </div>
    </div>

    <div class="card-block" style="margin-top: 50px;">
      <div class="imgBx">
        <img
          src="assets/img/Star.png"
          alt="images"
        />
      </div>
      <div class="details">
        <h2>Star<br />Night</h2>
      </div>
    </div>

  </div>
</div>

