
<!-- 
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8"> -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>

	<!-- <link rel="stylesheet" href="css/reset.css"> CSS reset -->
	<link rel="stylesheet" href="/stylesheets/events.css"> <!-- Resource style -->
	<!-- <script src="js/modernizr.js"></script> Modernizr -->
  	
	<!-- <title>Bouncy Navigation | Codyhouse</title>
</head>
<body>
<header>
	<h1>Bouncy Navigation</h1>	
</header> -->

<section class="cd-section">
	<!-- <a class="cd-bouncy-nav-trigger" href="#0">Browse categories</a> -->
</section> <!-- .cd-section -->

<div class="cd-bouncy-nav-modal">
	<nav>
		<ul class="cd-bouncy-nav" style="list-style: none;">
			<li><a href="/techevents">TECHNICAL EVENTS</a></li>
			<li><a href="/litevents">LITERARY EVENTS</a></li>
			<li><a href="/manevents">MANAGEMENT EVENTS</a></li>
			<li><a href="/funevents">FUN EVENTS</a></li>
			<li><a href="/flagevents">FLAGSHIP EVENTS</a></li>
			<li><a href="/workshops">WORKSHOP</a></li>
		</ul>
	</nav>
	
	<!-- <a href="#0" class="cd-close">Close modal</a> -->
</div> <!-- cd-bouncy-nav-modal -->
	
<!-- <script src="js/jquery-2.1.1.js"></script> -->
<script src="/js/events.js"></script> <!-- Resource jQuery -->
<!-- </body>
</html> -->
