<!-- <link href="stylesheets/gallery.css" rel="stylesheet" media="all"> -->
<style>
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.gallery-img {
    width: 100%;
    height: auto;
    transition: 500ms;
    margin-bottom: 10px;
    opacity: 0.99;
    page-break-inside: avoid; /* For Firefox. */
    -webkit-column-break-inside: avoid; /* For Chrome & friends. */
    break-inside: avoid; /* For standard browsers like IE. :-) */
}


@media screen and (max-width: 800px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .gallery-img {
    width: 100%;
    height: auto;
    transition: 500ms;
    margin-bottom: 10px;
    opacity: 0.8;
    page-break-inside: avoid; /* For Firefox. */
    -webkit-column-break-inside: avoid; /* For Chrome & friends. */
    break-inside: avoid; /* For standard browsers like IE. :-) */
}
    .gallery div {
        margin: 0;
        width: 200px;
    }
}
</style>
<div class="container">
  <div class="separator" style="padding-top: 100px;"><h1>GALLERY</h1></div>
  <div class="gallery">
      <img src="/assets/img/gallery/1.webp" alt="1"  class="gallery-img" />
      <img src="/assets/img/gallery/2.webp" alt="2"  class="gallery-img" />
      <img src="/assets/img/gallery/3.webp" alt="3"  class="gallery-img" />
      <img src="/assets/img/gallery/4.webp" alt="4"  class="gallery-img" />
      <img src="/assets/img/gallery/5.webp" alt="5"  class="gallery-img" />
      <img src="/assets/img/gallery/6.webp" alt="6"  class="gallery-img" />
      <img src="/assets/img/gallery/7.webp" alt="7"  class="gallery-img" />
      <img src="/assets/img/gallery/8.webp" alt="8"  class="gallery-img" />
      <img src="/assets/img/gallery/9.webp" alt="9"  class="gallery-img" />
      <img src="/assets/img/gallery/10.webp" alt="10" class="gallery-img" />
      <img src="/assets/img/gallery/11.webp" alt="11"  class="gallery-img" />
      <img src="/assets/img/gallery/12.webp" alt="12"  class="gallery-img" />
      <img src="/assets/img/gallery/13.webp" alt="13"  class="gallery-img" />
    </div>
  </div>
