<style>
.preloader_wrapper{
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100000000000;
    overflow: hidden;
    opacity: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    background-image: url('/assets/img/preload.gif');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    /* background-size:cover; */
}
</style>
<section class="preloader_wrapper">
</section>
<script>
$(window).on("load", function() {
    setTimeout(function(){
      $(".preloader_wrapper").remove();
  }, 1000);
});
</script>