
	<!-- <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'> -->

	<!-- <link rel="stylesheet" href="css/reset.css"> CSS reset -->
	<link rel="stylesheet" href="stylesheets/navbar.css"> <!--Resource style -->
	<!-- <script src="js/modernizr.js"></script> Modernizr -->
	<script
	src="https://code.jquery.com/jquery-3.4.1.js"
	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"
	crossorigin="anonymous"></script>

    <div id="navid">   
    <header>
		<!-- <a class="cd-logo" href="#0"><img src="img/cd-logo.svg" alt="Logo"></a> -->
	</header>
	<nav>
		<ul class="cd-primary-nav" style="list-style-type: none;">
            <li><a href="/" style="text-decoration: none;">HOME</a></li>
            <li>
                <label>
                    <input id="dd__cb" name="abc" type="checkbox">
                    <a id="eve" style="cursor: pointer;text-decoration: none;">EVENTS</a>
                    <ul class="dropdown"  style="list-style-type: none;padding:0;">
                        <li><a class="text" href="/techevents" style="text-decoration: none;">TECHNICAL EVENTS</a c></li>
                        <li><a  class="text" href="/litevents" style="text-decoration: none;">LITERARY EVENTS</a></li>
                        <li><a  class="text" href="/manevents" style="text-decoration: none;">MANAGEMENT EVENTS</a></li>
                        <li><a  class="text" href="/flagevents" style="text-decoration: none;">FLAGSHIP EVENTS</a></li>
                        <li><a  class="text" href="/funevents" style="text-decoration: none;">FUN EVENTS</a></li>
                        <li><a  class="text" href="/workshop" style="text-decoration: none;">WORKSHOPS</a></li>
                        <li><a  class="text" href="/starnight" style="text-decoration: none;">STAR NIGHT</a></li>
			</ul></label></li>
			<% if(!currentUser) { %>
				<li><a href="/register" style="text-decoration: none;">REGISTER</a></li>
				<li><a href="/login" style="text-decoration: none;">LOGIN</a></li>
			<% } else { %>
				<li><a href="/profile" style="text-decoration: none;">PROFILE</a></li>
				<li><a href="/logout" style="text-decoration: none;">LOGOUT</a></li>
			<% } %>
		</ul>
	</nav>

	

	<div class="cd-overlay-nav">
		<span></span>
	</div> <!-- cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div> <!-- cd-overlay-content -->
    <a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
</div>
<script src="https://cdn.bootcss.com/velocity/1.1.0/velocity.min.js"></script>
<script src="js/navbar.js"></script> <!-- Resource jQuery -->

