
	<!-- <link rel="stylesheet" href="css/reset.css"> CSS reset -->
    <link rel="stylesheet" href="/stylesheets/navbar.css"> <!-- Resource style -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> 
    <script src="/js/navbar.js"></script>
	
	<header class="cd-header">
		<!-- <a href="#0" class="cd-logo"><img src="https://codyhouse.co/demo/3d-rotating-navigation/img/cd-logo.svg" alt="Logo"></a> -->
		<a href="#0" class="cd-3d-nav-trigger">
			Menu
			<span></span>
		</a>
	</header> <!-- .cd-header -->
	<%- include('events') %>
	
	<nav class="cd-3d-nav-container">
		<ul class="cd-3d-nav" style="padding-left: 0px; list-style-type: none; margin-top: 0;">
			<li>
				<a id="cd-home-link" style="font-size: 12px;" href="/">Home</a>
			</li>

			<li>
				<a id="cd-events-link" class="cd-bouncy-nav-trigger" style="font-size: 12px;"  href="#">Events</a>
			</li>

			<%	if(!currentUser){ %>
			<li>
				<a id="cd-login-link" style="font-size: 12px;"  href="/login">Login</a>
			</li>

			<li>
				<a id="cd-register-link" style="font-size: 12px;"  href="/register">Register</a>
			</li>

			<% } else { %>

			<li>
				<a id="cd-logout-link" style="font-size: 12px;"  href="/logout">Logout</a>
			</li>
	

			<li>
				<a id="cd-profile-link" style="font-size: 12px;"  href="/profile">Profile</a>
			</li>

			
			<% } %>
		</ul> <!-- .cd-3d-nav -->

		<span class="cd-marker color-1"></span>	
	</nav> <!-- .cd-3d-nav-container -->