


	<!-- <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'> -->

	<!-- <link rel="stylesheet" href="css/reset.css"> CSS reset -->
	<link rel="stylesheet" href="stylesheets/navbar.css"> <!--Resource style -->
	<!-- <script src="js/modernizr.js"></script> Modernizr -->
	<script
	src="https://code.jquery.com/jquery-3.4.1.js"
	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"
	crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.5/velocity.min.js"
    crossorigin="anonymous"></script>
    <div id="navid">   
    <header>
		<!-- <a class="cd-logo" href="#0"><img src="img/cd-logo.svg" alt="Logo"></a> -->
	</header>
	<nav>
		<ul class="cd-primary-nav" style="list-style-type: none;">
            <li><a href="/">HOME</a></li>
            <li>
                <label>
                    <input id="dd__cb" name="abc" type="checkbox">
                    <a id="eve" style="cursor: pointer;">EVENTS</a>
                    <ul class="dropdown"  style="list-style-type: none;">
                        <li><a class="text" href="/techevents">TECHNICAL EVENTS</a c></li>
                        <li><a  class="text" href="/litevents">LITERARY EVENTS</a></li>
                        <li><a  class="text" href="/manevents">MANAGEMENT EVENTS</a></li>
                        <li><a  class="text" href="/flagevents">FLAGSHIP EVENTS</a></li>
                        <li><a  class="text" href="/funevents">FUN EVENTS</a></li>
                        <li><a  class="text" href="/workshop">WORKSHOPS</a></li>
                        <li><a  class="text" href="/starnight">STAR NIGHT</a></li>
			</ul></label></li>
			<% if(!currentUser) { %>
				<li><a href="/register">REGISTER</a></li>
				<li><a href="/login">LOGIN</a></li>
			<% } else { %>
				<li><a href="/profile">PROFILE</a></li>
				<li><a href="/logout">LOGOUT</a></li>
			<% } %>
		</ul>
	</nav>

	

	<div class="cd-overlay-nav">
		<span></span>
	</div> <!-- cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div> <!-- cd-overlay-content -->
    <a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
</div>
<script src="js/navbar.js"></script> <!-- Resource jQuery -->

