
<div class="base">
  <div class="menu">
     <div class="icon">   
        <div class="bar"></div>
     </div>
  </div>
  <div class="icons">
     <i class="fa fa-user" aria-hidden="true"></i>
     <i class="fa fa-calendar-o" aria-hidden="true"></i>
     <i class="fa fa-tachometer" aria-hidden="true"></i>
     <i class="fa fa-tachometer" aria-hidden="true"></i>
  </div>

  <div class="section">
     <div class="cover1">
        <div class="cover2">
           <a class="content" href="#calender"></a>
        </div>
     </div>
  </div>

  <a class="section-static bottom" href="https://www.facebook.com/perception.cetb/videos/1706944176106621/"></a>
  
  <% if(!currentUser) { %>
      <a class="section-static top" href="/login"></a>
   <% } else { %>
      <a class="section-static top" href="/logout"></a>
   <% } %>      

</div>
<script>
  $(".menu").click(function(){
 $(this).parent().toggleClass("close");
});
</script>