
<style>
    .separator2{
    /* letter-spacing: 0.2em; */
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    height: 70px;
    font-size:small;
    padding-top: 20px;
    color: black;
  }
  .separator2::before,
  .separator2::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
    margin:auto;
  }
    .separator2::before {
    margin-right: 5em;
  }
  .separator2::after {
    margin-left: 5em;
  }

  .spons-img:hover{
      transform: scale(1.3);
  }
@media only screen and (max-width: 768px){
.separator2{
    /* letter-spacing: 0.2em; */
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    height: 70px;
    font-size:small;
    padding-top: 20px;
    color: black;
  }
  .separator2::before,
  .separator2::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
    /* margin:auto; */
  }
    .separator2::before {
    margin-right: 1em;
  }
  .separator2::after {
    margin-left: 1em;
  }
}
.sponsors{
    background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
</style>
<div class="container sponsor" style=" padding-top: 20px;margin-top:60px;justify-content: center;">
    <div class="separator2"><h1>SPONSORS</h1></div>
    
    <div class="row r1 d-flex justify-content-center" >
       <div class="col-md-3 d-flex justify-content-center col-12 align-items-center">
            <img class="img-fluid spons-img " src="assets/img/sponsors/OHPC.jpg" style="height: 100px;width:150px;padding-top:20px;">
        </div>
        <div class="col-md-3 d-flex justify-content-center col-12 align-items-center">
            <img class="img-fluid spons-img " src="assets/img/sponsors/IFFCO.jpg"style="height: 100px; width: auto; padding-top:20px;">
        </div>
        <div class="col-md-3 d-flex justify-content-center col-12 align-items-center">
          <img class="img-fluid spons-img " src="assets/img/sponsors/vector.png"style="height:100px;width: auto;padding-top:20px;">   
        </div>
        <div class="col-md-3 d-flex justify-content-center col-6 align-items-center">
          <img class="img-fluid spons-img " src="assets/img/sponsors/Biggies1.jpg"style="height: 100px;width: auto;padding-top:20px;">
        </div> 
    </div>

       

    <div class="row r1" style="justify-content: center;justify-content: space-between;padding-top:10px;">
        
        <div class="col-md-3 d-flex justify-content-center col-6">
             <img class="img-fluid spons-img " src="assets/img/sponsors/lgv.png"style="height:100px;width: 120px;padding-top:20px;">
         </div>
        <div class="col-md-3 d-flex justify-content-center col-6">
            <img class="img-fluid spons-img " src="assets/img/sponsors/hanuel.png"style="height: 100px;width: auto;padding-top:20px;">
        </div>
         <div class="col-md-3 d-flex justify-content-center col-6">
            <img class="img-fluid spons-img " src="assets/img/sponsors/discover.png"style="height: 120px;width: auto;padding-top:20px;">
        </div>
       
        <div class="col-md-3 d-flex justify-content-center col-6">
            <img class="img-fluid spons-img " src="assets/img/sponsors/Hippie_Logo-1.png"style="height: 140px;width:80px;padding-top:20px;">
        </div>
     </div>
     <div class="row r3" style="justify-content: center;justify-content: space-between;padding-top:10px;">
        
        <div class="col-md-4 d-flex justify-content-center col-12">

             <img class="img-fluid spons-img " src="assets/img/sponsors/stickerlf.png"style="height: 100px;width: auto;padding-top:20px;">
        </div>
         
         <div class="col-md-2 d-flex justify-content-center col-6">
            <img class="img-fluid spons-img " src="assets/img/sponsors/Logo.png"style="height: 100px;width: auto;padding-top:20px;">
        </div>
        <div class="col-md-2 d-flex justify-content-center col-6">
            <img class="img-fluid spons-img " src="assets/img/sponsors/mad-moose.jpg"style="height: 100px;width: auto;padding-top:20px;">
        </div>
        <div class="col-md-4 d-flex justify-content-center ">
            <img class="img-fluid spons-img " src="assets/img/sponsors/jageducate.jpg"style="height: 85px;width:500px ;padding-top:20px;">
        </div>
     </div>
</div>