<div class="container">
    <div class="separator" style="height: 120px;"><h1>SPONSORS</h1></div>

    <div class="row">

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-10 thumb" style="padding-left: 20px;">
          <a class="thumbnail" href="#">
              <img class="img-responsive" src="https://www.bigprofitbuzz.com/wp-content/uploads/2019/10/NALCO.png" alt="">
          </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-10 thumb" style="padding-left: 20px;">
          <a class="thumbnail" href="#">
              <img class="img-responsive" src="https://www.bigprofitbuzz.com/wp-content/uploads/2019/10/NALCO.png" alt="">
          </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-10 thumb" style="padding-left: 20px">
          <a class="thumbnail" href="#">
              <img class="img-responsive" src="https://www.bigprofitbuzz.com/wp-content/uploads/2019/10/NALCO.png" alt="">
          </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-10 thumb" style="padding-left: 20px;">
          <a class="thumbnail" href="#">
              <img class="img-responsive" src="https://www.bigprofitbuzz.com/wp-content/uploads/2019/10/NALCO.png" alt="">
          </a>
      </div>
    </div>    
  </div>    
