
<style>
    .separator2{
    /* letter-spacing: 0.2em; */
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    height: 70px;
    font-size:small;
    padding-top: 20px;
    color: black;
  }
  .separator2::before,
  .separator2::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
    margin:auto;
  }
    .separator2::before {
    margin-right: 5em;
  }
  .separator2::after {
    margin-left: 5em;
  }

@media only screen and (max-width: 768px){
.l{
    margin-left: 110px;
}
.l2{
    margin-left: 90px;
}
.l4{
    margin-left: 60px;
}
.l5{
    margin-left: 10px;
}
.l3{
    margin-left: 90px;
}
.l1{
    margin-left: 40px;
}
.l6{
    margin-left: 10px;
}
.l7{
    margin-left: 10px;
}
.separator2{
    /* letter-spacing: 0.2em; */
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    height: 70px;
    font-size:small;
    padding-top: 20px;
    color: black;
  }
  .separator2::before,
  .separator2::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
    /* margin:auto; */
  }
    .separator2::before {
    margin-right: 1em;
  }
  .separator2::after {
    margin-left: 1em;
  }
}
.sponsors{
    background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
</style>
<div class="container sponsor" style=" padding-top: 10px;margin-top:60px;justify-content: center;">
    <div class="separator2"><h1>SPONSORS</h1></div>
    <div class="row r1" style="padding:30px;justify-content: center; justify-content: space-between;">
       <div class="col-md-2">
            <img class="img-fluid l1" src="assets/img/stickerlf.png" style="height: 70px;width:auto;padding-top: 20px;">
        </div>
        <div class="col-md-2">
            <img class="img-fluid l2" src="assets/img/Logo.png"style="height: 100px;width: 100px;padding-top:10px;">
        </div>
        <div class="col-md-2">
            <img class="img-fluid l3" src="assets/img/My_BBSR.png"style="height: 100px;width: 100px;padding-top:10px;">
        </div>
        <div class="col-md-2">
            <img class="img-fluid l4" src="assets/img/Biggies1.jpg"style="height: 90px;width: auto;padding-top:10px;">
        </div> 
        <div class="col-md-2">
            <img class="img-fluid l5" src="assets/img/vector.png"style="height: 80px;width: auto;padding-top:10px;">
        </div>
    </div>

    <div class="row r2" style="justify-content: center; justify-content: space-around;">
        <div class="col-md-4">
            <img class="img-fluid l6" src="assets/img/IFFCO.jpg"style="height: auto;width: 300px;padding-top:10px;">
        </div> 
        <div class="col-md-4">
            <img class="img-fluid l7" src="assets/img/lgv.png"style="height: auto;width:300px;padding-top:10px;">
        </div>
    </div>    

    <div class="row r3" style="justify-content: center;justify-content: space-between;padding-top:10px;">
        <div class="col-md-2">
             <img class="img-fluid l" src="assets/img/OS9.png"style="height:100px;width: 100px;padding-top:10px;">
         </div>
         <div class="col-md-2">
             <img class="img-fluid l" src="assets/img/hanuel.png"style="height: 100px;width:100px;padding-top:10px;">
         </div>
         <div class="col-md-2">
            <img class="img-fluid l" src="assets/img/discover.png"style="height: 100px;width: 100px;padding-top:10px;">
        </div>
        <div class="col-md-2">
            <img class="img-fluid l" src="assets/img/mad-moose.jpg"style="height: 100px;width: 100px;padding-top:10px;">
        </div>
         
     </div>
</div>