<div class="h-100 row align-items-center" style="height: 20%;">
    <div class="col d-flex justify-content-center " >
      <div class="" style="width: auto; float:center; display: table;">
        <p class="title content__title" style="display: table; "> P E R C E P T I O N  </p> 
      </div>
    </div>
  </div> 