<style>
    .container_class {
        height: 30%;
        margin: 25%;
        font-size:75px;
        margin-bottom: 40px;
        border: 10px;
        color: black;
    }
</style>
<div class="container_class">

    <hr class="hr-text" data-content="About Us">
</div>
<div>
    <p class="hr-text" style="color: white;margin-bottom:70px;font-size:20px;font-family: monospace">The Annual Techno-Literary-Management Fest of College of Engineering and
        Technology, Bhubaneswar sees a footfall of more than 4,000 students from across
        the state to participate in brainstorming and inquisitive events spanning over 3 days,
        capping it off with a Star-Night. The Campus has seen the lights of Kenny Sebastian
        and Sapan Verma in 2017 and 2018 respectively. This Year as CET
        students shined in various hackathons and fests across the nation, we decided to bring all those people to our den and
        compete at a higher level. 
    </p>
</div>