<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>

    <form action="/admin" method="POST">
        <div>
            <label for="first-name">First Name:</label>
            <input type="text" name="username" placeholder="username" required />
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="password" required />
            <button>Submit</button>
          </div>
    </form>
</body>
</html>