<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/stylenew.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
    <body>
        <%- include('partials/preloader') %>
        <script>
            // init controller
            var controller = new ScrollMagic.Controller();
        </script>
        <style type="text/css">
            .card {
                opacity: 0;
                -webkit-transform: translateX(-100px);
                     -moz-transform: translateX(-100px);
                        -ms-transform: translateX(-100px);
                         -o-transform: translateX(-100px);
                                transform: translateX(-100px);
                -webkit-transition: all 2.6s ease-out;
                     -moz-transition: all 1.6s ease-out;
                        -ms-transition: all 1.6s ease-out;
                         -o-transition: all 1.6s ease-out;
                                transition: all 0.6s ease-out;
            }
            .card.visible {
                opacity: 1;
                -webkit-transform: none;
                     -moz-transform: none;
                        -ms-transform: none;
                         -o-transform: none;
                                transform: none;
            }


        </style>

          <!-- home button -->
          <%- include('partials/homebutton') %>

    <section>
      <center style="background-color: #222;"><a href="#" class="gradient-box"><span>FLAGSHIP EVENTS</span></a></center>
     <div class="wrapper">
     <div class="container">
      
      <div class="card">
            <div class="imgBx" data-text="Rescue Rangers">
                <img src="assets/img/eventicons/robot.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Rescue Rangers">Rescue Rangers</h3>
                   <p class="glitch" data-text="RoboRace Challenge">RoboRace Challenge</p>
                   <button id="eventButton43" class="btn btn-light-green" data-toggle="modal" data-target="#eventModal43" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
               </div>
            </div>
      </div>
       <div class="card">
            <div class="imgBx" data-text="Code Busters">
                <img src="assets/img/eventicons/cb.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Code Busters">Code Busters</h3>
                   <p class="glitch" data-text="Code for a Challenge">Code for a Challenge</p>
                   <button id="eventButton44" class="btn btn-light-green" data-toggle="modal" data-target="#eventModal44" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
               </div>
            </div>
      </div>
       <div class="card">
            <div class="imgBx" data-text="Wartalap">
                <img src="assets/img/eventicons/debate.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Wartalap">Wartalap</h3>
                   <p class="glitch" data-text="Don’t settle! Debate!">Don’t settle! Debate!</p>
                   <button id="eventButton45" class="btn btn-light-green" data-toggle="modal" data-target="#eventModal45" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
                </p>
               </div>
            </div>
      </div>
      <div class="card">
        <div class="imgBx" data-text="Wordsworth">
            <img src="assets/img/eventicons/ww.png">
        </div>
        <div class="content">
           <div>
               <h3 class="glitch" data-text="Wordsworth">Wordsworth</h3>
               <p class="glitch" data-text="Challenge Your Vocabulary!">Challenge Your Vocabulary!</p>
               <button id="eventButton46" class="btn btn-light-green" data-toggle="modal" data-target="#eventModal46" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
            </p>
           </div>
        </div>
  </div>
  <div class="card">
    <div class="imgBx" data-text="Qurious">
        <img src="assets/img/eventicons/quiz.png">
    </div>
    <div class="content">
       <div>
           <h3 class="glitch" data-text="Qurious">Qurious</h3>
           <p class="glitch" data-text=""></p>
           <button id="eventButton47" class="btn btn-light-green" data-toggle="modal" data-target="#eventModal47" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
        </p>
       </div>
    </div>
</div>
<div class="card">
    <div class="imgBx" data-text="Mock Loksabha">
        <img src="assets/img/eventicons/voting.png">
    </div>
    <div class="content">
       <div>
           <h3 class="glitch" data-text="Mock Loksabha">Mock Loksabha</h3>
           <p class="glitch" data-text="Experience a mock Lok Sabha">Experience a mock Lok Sabha</p>
           <button id="eventButton48" class="btn btn-light-green" data-toggle="modal" data-target="#eventModal48" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
       </div>
    </div>
</div>
<div class="card">
    <div class="imgBx" data-text="Karobar">
        <img src="assets/img/eventicons/karo.png">
    </div>
    <div class="content">
       <div>
           <h3 class="glitch" data-text="Karobar">Karobar</h3>
           <p class="glitch" data-text="Sell me this!">Sell me this!</p>
           <button id="eventButton49" class="btn btn-light-green" data-toggle="modal" data-target="#eventModal49" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
       </div>
    </div>
</div>
<div class="card">
    <div class="imgBx" data-text="Hoverpod">
        <img src="assets/img/eventicons/drone.png">
    </div>
    <div class="content">
       <div>
           <h3 class="glitch" data-text="Hoverpod">Hoverpod</h3>
           <p class="glitch" data-text="Hoverpod! Hoverpod! ">Hoverpod! Hoverpod!</p>
           <button id="eventButton50" class="btn btn-light-green" data-toggle="modal" data-target="#eventModal50" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button> 
        </p>
       </div>
    </div>
</div>
<div class="card">
    <div class="imgBx" data-text="Robo Dangal">
        <img src="assets/img/eventicons/robowar.png">
    </div>
    <div class="content">
       <div>
           <h3 class="glitch" data-text="Robo Dangal">Robo Dangal</h3>
           <p class="glitch" data-text="Robot is indeed a fighter!">Robot is indeed a fighter!</p>
           <button id="eventButton51" class="btn btn-light-green" data-toggle="modal" data-target="#eventModal51" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
       </div>
    </div>
</div>
<div class="card">
    <div class="imgBx" data-text="RGC">
        <img src="assets/img/eventicons/machine.png">
    </div>
    <div class="content">
       <div>
           <h3 class="glitch" data-text="Goldberg Challenge">Goldberg Challenge</h3>
           <p class="glitch" data-text="It’s simple! Complex it!">It’s simple! Complex it!</p>
           <button id="eventButton52" class="btn btn-light-green" data-toggle="modal" data-target="#eventModal52" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
        </p>
       </div>
    </div>
</div>
<div class="card">
    <div class="imgBx" data-text="Widget Mania">
        <img src="assets/img/eventicons/buggies.png">
    </div>
    <div class="content">
       <div>
           <h3 class="glitch" data-text="Widget Mania">Widget Mania</h3>
           <p class="glitch" data-text="Welcome motorheads! ">Welcome motorheads! </p>
           <button id="eventButton53" class="btn btn-light-green" data-toggle="modal" data-target="#eventModal53" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
       </div>
    </div>
</div>
<div class="card">
    <div class="imgBx" data-text="Robo soccer">
        <img src="assets/img/eventicons/robosoccer.png">
    </div>
    <div class="content">
       <div>
           <h3 class="glitch" data-text="Robo soccer">Robo soccer</h3>
           <p class="glitch" data-text="Hey bots! Time for  a soccer match!">Hey bots! Time for  a soccer match!</p>
           <button id="eventButton54" class="btn btn-light-green" data-toggle="modal" data-target="#eventModal54" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
        </p>
       </div>
    </div>
</div>
<div class="card">
    <div class="imgBx" data-text="FET">
        <img src="assets/img/eventicons/mindmaze.png">
    </div>
    <div class="content">
       <div>
           <h3 class="glitch" data-text="FET">FET</h3>
           <p class="glitch" data-text=""></p>
           <button id="eventButton55" class="btn btn-light-green" data-toggle="modal" data-target="#eventModal55" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
       </div>
    </div>
</div>

    </div>
     </div>
    </section>

    <script>
        // build scenes
        var revealElements = document.getElementsByClassName("card");
        for (var i=0; i<revealElements.length; i++) {
            new ScrollMagic.Scene({
                                triggerElement: revealElements[i], // y value not modified, so we can use element as trigger as well
                                offset: 30,												 // start a little later
                                triggerHook: 0.98,
                                reverse:false,
                            })
                            .setClassToggle(revealElements[i], "visible") // add class toggle
                         //   .addIndicators({name: "digit " + (i+1) }) // add indicators (requires plugin)
                            .addTo(controller);
        }
    </script>
    </body>
</html>