<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/stylenew.css">
    </head>
    <body>
        <%- include('partials/preloader') %>
        <center><div class="eventh_border"><div class="eventh"><div class="slash-text">
            <div title="MANAGEMENT EVENTS" class="top"></div>
            <div title="MANAGEMENT EVENTS" class="bottom"></div>
          </div></div></div> </center>
     <div class="wrapper">
     <div class="container">
      
      <div class="card">
            <div class="imgBx" data-text="Idea Challenge">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Idea Challenge">Idea Challenge</h3>
                   <p class="glitch" data-text="Business plan competetion">Business plan competetion </p>
               </div>
            </div>
      </div>
       <div class="card">
            <div class="imgBx" data-text="Karobar">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Karobar">Karobar</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
       <div class="card">
            <div class="imgBx" data-text="Logo Quiz">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Logo Quiz">Logo Quiz</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
    </div>

    </body>
</html>