<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/stylenew.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    </head>
    <body>
        <%- include('partials/preloader') %>
        <script>
            // init controller
            var controller = new ScrollMagic.Controller();
        </script>
        <style type="text/css">
            .card {
                opacity: 0;
                -webkit-transform: translateX(-100px);
                     -moz-transform: translateX(-100px);
                        -ms-transform: translateX(-100px);
                         -o-transform: translateX(-100px);
                                transform: translateX(-100px);
                -webkit-transition: all 2.6s ease-out;
                     -moz-transition: all 1.6s ease-out;
                        -ms-transition: all 1.6s ease-out;
                         -o-transition: all 1.6s ease-out;
                                transition: all 0.6s ease-out;
            }
            .card.visible {
                opacity: 1;
                -webkit-transform: none;
                     -moz-transform: none;
                        -ms-transform: none;
                         -o-transform: none;
                                transform: none;
            }
        </style>
      <center><a href="#" class="gradient-box"><span>LITERARY EVENTS</span></a></center>
      <div class="wrapper">
        <div class="container">
            <div class="card">
                <div class="imgBx" data-text="Dress Your Book">
                    <img src="assets/img/eventicons/coverbook.png">
                </div>
                <div class="content">
                   <div>
                       <h3 class="glitch" data-text="Dress Your Book">Dress Your Book</h3>
                       <p class="glitch" data-text="Design a cover for your book">Design a cover for your book</p>
                   </div>
                </div>
          </div>
      <div class="card">
            <div class="imgBx" data-text="TITT">
                <img src="assets/img/eventicons/twistinthetail.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Twist in The Tale">Twist in The Tale</h3>
                   <p class="glitch" data-text="Tell your story with alternate endings!">Tell your story with alternate endings!</p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="India Quiz">
                <img src="assets/img/eventicons/thinking.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="India Quiz">India Quiz</h3>
                   <p class="glitch" data-text="Tech and Business Tasks and Fundas">Tech and Business Tasks and Fundas</p>
               </div>
            </div>
      </div>
    </div>
      <script>
        // build scenes
        var revealElements = document.getElementsByClassName("card");
        for (var i=0; i<revealElements.length; i++) {
            new ScrollMagic.Scene({
                                triggerElement: revealElements[i], // y value not modified, so we can use element as trigger as well
                                offset: 30,												 // start a little later
                                triggerHook: 0.98,
                                reverse:false,
                            })
                            .setClassToggle(revealElements[i], "visible") // add class toggle
                         //   .addIndicators({name: "digit " + (i+1) }) // add indicators (requires plugin)
                            .addTo(controller);
        }
    </script>
    </body>
</html>