<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/stylenew.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    </head>
    <body>
        <%- include('partials/preloader') %>
        <script>
            // init controller
            var controller = new ScrollMagic.Controller();
        </script>
        <style type="text/css">
            .card {
                opacity: 0;
                -webkit-transform: translateX(-100px);
                     -moz-transform: translateX(-100px);
                        -ms-transform: translateX(-100px);
                         -o-transform: translateX(-100px);
                                transform: translateX(-100px);
                -webkit-transition: all 2.6s ease-out;
                     -moz-transition: all 1.6s ease-out;
                        -ms-transition: all 1.6s ease-out;
                         -o-transition: all 1.6s ease-out;
                                transition: all 0.6s ease-out;
            }
            .card.visible {
                opacity: 1;
                -webkit-transform: none;
                     -moz-transform: none;
                        -ms-transform: none;
                         -o-transform: none;
                                transform: none;
            }
        </style>
      <center><a href="#" class="gradient-box"><span>LITERARY EVENTS</span></a></center>
      <div class="wrapper">
        <div class="container">
      <div class="card ">
            <div class="imgBx" data-text="Mudda">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Mudda">Mudda</h3>
                   <p class="glitch" data-text="Social issue discussion">Social issue discussion</p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Qurious">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Qurious">Qurious</h3>
                   <p class="glitch" data-text="Annual general quiz of CET, BBSR">Annual general quiz of CET, BBSR</p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Biz-Tech Quiz">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Biz-Tech Quiz">Biz-Tech Quiz</h3>
                   <p class="glitch" data-text="Tech and Business Tasks and Fundas">Tech and Business Tasks and Fundas</p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Wordsworth">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Wordsworth">Wordsworth</h3>
                   <p class="glitch" data-text="Vocabulary crossword challenge">Vocabulary crossword challenge</p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Beg Borrow Steal">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Beg Borrow Steal">Beg Borrow Steal</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Mock Lok Sabha">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Mock Lok Sabha">Mock Lok Sabha</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Devils Advocate">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Devils Advocate">Devils Advocate</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Slam Poetry">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Slam Poetry">Slam Poetry</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Just a Minute">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Just a Minute">Just a Minute</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Speak Up">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Speak Up">Speak Up</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Story Glory">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Story Glory">Story Glory</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Know your College">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Know your College">Know your College</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Click It">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Click It">Click It</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>

      </div>
      <script>
        // build scenes
        var revealElements = document.getElementsByClassName("card");
        for (var i=0; i<revealElements.length; i++) {
            new ScrollMagic.Scene({
                                triggerElement: revealElements[i], // y value not modified, so we can use element as trigger as well
                                offset: 30,												 // start a little later
                                triggerHook: 0.98,
                                reverse:false,
                            })
                            .setClassToggle(revealElements[i], "visible") // add class toggle
                         //   .addIndicators({name: "digit " + (i+1) }) // add indicators (requires plugin)
                            .addTo(controller);
        }
    </script>
    </body>
</html>