<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/stylenew.css">
    </head>
    <body>
        <%- include('partials/preloader') %>
      <center><h1 style="margin-top: 20px; color: #fff;">LITERARY EVENTS</h1> </center>
      <div class="wrapper">
        <div class="container">
      <div class="card ">
            <div class="imgBx" data-text="Mudda">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Mudda">Mudda</h3>
                   <p class="glitch" data-text="Social issue discussion">Social issue discussion</p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Qurious">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Qurious">Qurious</h3>
                   <p class="glitch" data-text="Annual general quiz of CET, BBSR">Annual general quiz of CET, BBSR</p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Biz-Tech Quiz">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Biz-Tech Quiz">Biz-Tech Quiz</h3>
                   <p class="glitch" data-text="Tech and Business Tasks and Fundas">Tech and Business Tasks and Fundas</p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Wordsworth">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Wordsworth">Wordsworth</h3>
                   <p class="glitch" data-text="Vocabulary crossword challenge">Vocabulary crossword challenge</p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Beg Borrow Steal">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Beg Borrow Steal">Beg Borrow Steal</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Mock Lok Sabha">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Mock Lok Sabha">Mock Lok Sabha</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Devils Advocate">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Devils Advocate">Devils Advocate</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Slam Poetry">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Slam Poetry">Slam Poetry</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Just a Minute">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Just a Minute">Just a Minute</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Speak Up">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Speak Up">Speak Up</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Story Glory">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Story Glory">Story Glory</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Know your College">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Know your College">Know your College</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Click It">
                <img src="assets/img/money.png">
            </div>
            <div class="content">
               <div>
                   <h3 class="glitch" data-text="Click It">Click It</h3>
                   <p class="glitch" data-text=""></p>
               </div>
            </div>
      </div>

      </div>
     
      

    </body>
</html>