<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Fun Events </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/stylenew.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    </head>
    <body>
        <%- include('partials/preloader') %>
        <%- include('partials/navbar') %> 
        <%- include('partials/modal') %>
        <script>
            // init controller
            var controller = new ScrollMagic.Controller();
        </script>
        <style type="text/css">
            .card {
                opacity: 0;
                -webkit-transform: translateX(-100px);
                     -moz-transform: translateX(-100px);
                        -ms-transform: translateX(-100px);
                         -o-transform: translateX(-100px);
                                transform: translateX(-100px);
                -webkit-transition: all 2.6s ease-out;
                     -moz-transition: all 1.6s ease-out;
                        -ms-transition: all 1.6s ease-out;
                         -o-transition: all 1.6s ease-out;
                                transition: all 0.6s ease-out;
            }
            .card.visible {
                opacity: 1;
                -webkit-transform: none;
                     -moz-transform: none;
                        -ms-transform: none;
                         -o-transform: none;
                                transform: none;
               
            }

        </style>

    <section">    
      <center style="background-color: #222;"><div class="gradient-box"><span>FUN EVENTS</span></div></center>
      <div class="wrapper">
        <div class="container">
            <div class="card">
                <div class="imgBx" data-text="TYE">
                    <img src="assets/img/eventicons/24.png">
                </div>
                <div class="content">
                    <div data-title="Test your Endurance" data-id="24" data-desc="The 'Test your Endurance' is a knock out cycle race between the riders to test their endurance.">
                       <h3 class="glitch" data-text="TYE">Test your Endurance</h3>
                       <p class="glitch" data-text="">Knock out cycle race</p>
                       <button id="eventButton37" class="evbtn btn btn-light-green"  style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
                    </div>
                </div>
          </div>
      <div class="card">
            <div class="imgBx" data-text="Lead the Beast">
                <img src="assets/img/eventicons/30.png">
            </div>
            <div class="content">
                <div data-title="Lead the Beast" data-id="30" data-desc="How cool will it be to ride an all-terrain vehicle (ATV) in a track filled with different obstacles? We present you the 'Lead the Beast' event, where the participants will be given a chance of riding an ATV. Be a part of this thrilling ride on the beast and win a cashback on completing the challenge.">
                   <h3 class="glitch" data-text="Lead the Beast">Lead the Beast</h3>
                   <p class="glitch" data-text="Ride an ATV!">Ride an ATV!</p>
                   <button id="eventButton38" class="evbtn btn btn-light-green" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
                </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="Embrace the speed">
                <img src="assets/img/eventicons/31.png">
            </div>
            <div class="content">
                <div data-title="Embrace the speed" data-id="31" data-desc="If an ATV ride is not enough for you, then how does riding an e-vehicle sound? We will give a chance to ride the e-vehicle and feel the instinct racing in you. Win a cashback on completing the challenge.">
                   <h3 class="glitch" data-text="Embrace the speed">Embrace the speed</h3>
                   <p class="glitch" data-text="Ride an e-Vehicle!">Ride an e-Vehicle!</p>
                   <button id="eventButton39" class="evbtn btn btn-light-green"  style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
                </div>
            </div>
      </div>
      <div class="card">
        <div class="imgBx" data-text="Automotive Hunt">
            <img src="assets/img/eventicons/33.png">
        </div>
        <div class="content">
            <div data-title="Automotive Hunt" data-id="33" data-desc="A treasure hunt that has its own thrills. The 'Automotive Hunt' is a treasure hunt event where the participating teams will be able to find clues to the target only if they solve a riddle, a puzzle or a question based on or related to the automobile industry.">
               <h3 class="glitch" data-text="Automotive Hunt">Automotive Hunt</h3>
               <p class="glitch" data-text="Thrilling treasure hunt awaits you!!">Thrilling treasure hunt awaits you!</p>
               <button id="eventButton38" class="evbtn btn btn-light-green" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
            </div>
        </div>
  </div>
  <div class="card">
    <div class="imgBx" data-text="Pictionary">
        <img src="assets/img/eventicons/44.png">
    </div>
    <div class="content">
        <div data-title="Pictionary" data-id="44" data-desc="Perception brings you Pictionary, a classic icebreaker game in which the goal is to get your teammates to correctly identify something that is drawn within the time limit. It consists of a team of two where one member is asked to pick up a chit which has things written on it. The second member will be assigned the work of drawing the things mentioned in the chit.">
           <h3 class="glitch" data-text="Pictionary">Pictionary</h3>
           <p class="glitch" data-text="Remember childhood Dumb Charades game?">Remember childhood Dumb Charades game?</p>
           <button id="eventButton38" class="evbtn btn btn-light-green" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
        </div>
    </div>
</div>
<div class="card">
    <div class="imgBx" data-text="Hocus Focus">
        <img src="assets/img/eventicons/46.png">
    </div>
    <div class="content">
        <div data-title="Pictionary" data-id="46" data-desc="The 'Hocus Focus' is the event of puzzles, consisting of different rounds based on the difficulty of the puzzles. The participating teams will be given a set of board puzzles to solve. The elimination of the teams will be based on the time taken to solve it and onaccuracy. The last team standing will win the game.">
           <h3 class="glitch" data-text="Hocus Focus">Hocus Focus</h3>
           <p class="glitch" data-text="Are you good at solving puzzles?">Are you good at solving puzzles?</p>
           <button id="eventButton38" class="evbtn btn btn-light-green" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
        </div>
    </div>
</div>
    </div>
      </div>
</section>

      <script>
        // build scenes
        var revealElements = document.getElementsByClassName("card");
        for (var i=0; i<revealElements.length; i++) {
            new ScrollMagic.Scene({
                                triggerElement: revealElements[i], // y value not modified, so we can use element as trigger as well
                                offset: 30,												 // start a little later
                                triggerHook: 0.98,
                                reverse:false,
                            })
                            .setClassToggle(revealElements[i], "visible") // add class toggle
                         //   .addIndicators({name: "digit " + (i+1) }) // add indicators (requires plugin)
                            .addTo(controller);
        }
    </script>
    <% if(message) { %>
        <script src="js/sweet.js"></script>
        <script>
          let message = "<%= message %>";
          Toast.fire({
            position: 'top-left',
            title: message
          });
        </script>
      <% } %>
    </body>
</html>