<!DOCTYPE html>
<html>
  <head>
    <title>Perception</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="img"></div>
    <div class="main">
      <div class="container" style="height: 50%;">
        <div class="h-100 row align-items-center ">
          <div class="col d-flex justify-content-center " >
            <div class="title-contain"style=" width: auto; float:center; display: table;">
              <h1 class="text-class title" style="display: table;">  P E R C E P T I O N  </h1> </div>
          </div>
        </div> 
      </div>
      <div class="container" style="height: 50%;  " >
        <div class="box">
          <div class="card-deck">
            <div class="card col">
              <div class="imgBx">
                  <img src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
              </div>
              <div class="details">
                  <h2>Techincal Event<br></h2>
              </div>
            </div>
          
             <div class="card">
               <div class="imgBx">
                  <img src="https://images.unsplash.com/photo-1549417229-aa67d3263c09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
               </div>
               <div class="details">
                  <h2>Literary Event<br></h2>
                </div>
             </div>
      
             <div class="card">
               <div class="imgBx">
                  <img src="https://images.unsplash.com/photo-1548094878-84ced0f6896d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
               </div>
               <div class="details">
                  <h2>Management<br> Event</h2>
                </div>
             </div>  
          <!-- </div> -->
      </div>
    </div>
  </body>
</html>
