<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Literary Events </title>
        <meta name="description" content="Literary events of Perception 2020">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/stylenew.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    </head>
    <body>
        <%- include('partials/preloader') %>
        <%- include('partials/navbar') %> 
        <%- include('partials/modal') %>
        <script>
            // init controller
            var controller = new ScrollMagic.Controller();
        </script>
        <style type="text/css">
            .card {
                opacity: 0;
                -webkit-transform: translateX(-100px);
                     -moz-transform: translateX(-100px);
                        -ms-transform: translateX(-100px);
                         -o-transform: translateX(-100px);
                                transform: translateX(-100px);
                -webkit-transition: all 2.6s ease-out;
                     -moz-transition: all 1.6s ease-out;
                        -ms-transition: all 1.6s ease-out;
                         -o-transition: all 1.6s ease-out;
                                transition: all 0.6s ease-out;
            }
            .card.visible {
                opacity: 1;
                -webkit-transform: none;
                     -moz-transform: none;
                        -ms-transform: none;
                         -o-transform: none;
                                transform: none;
               
            }

            .link-to-home {
    position:absolute;
    top: 20px;
    left: 50px;
    z-index: 9999;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 3px;
    background-position: center center;
    background-size: cover;
    background-image: url('../assets/img/Homelogo.png');
    box-shadow: 0 0 0 2px rgba(12,12,12,.1);
    transition: opacity .2s, border-radius .2s, box-shadow .2s;
    transition-timing-function: ease-out;
    }
    .link-to-home:hover {
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 0 20px rgba(12,12,12,.1);
    }
    @media (max-width: 767px){
    .Homelogo{
        height: 40px;
    }
    
}


        </style>

    <section">    

                <!-- home button -->
    <section class="Homelogo">
        <a href="/" class="link-to-home" target=”_blank”></a>
    </section>

      <center ><div class="gradient-box"><span>LITERARY EVENTS</span></div></center>
      <div class="wrapper">
        <div class="container">
            <div class="card">
                <div class="imgBx" data-text="Dress Your Book">
                    <img src="assets/img/eventicons/9.png">
                </div>
                <div class="content">
                    <div data-title="Dress Your Book" data-id="9" data-desc="Do not judge a book by its covers. Well, not this time. Your book will be judged by the covers you make. In 'Dress your Book', show off your creative and artistic skills by decorating your book with a cover. The participating teams will have to design a cover for a given book.">
                       <h3 class="glitch" data-text="Dress Your Book">Dress Your Book</h3>
                       <p class="glitch" data-text="Design a cover for your book">Design a cover for your book</p>
                       <button id="eventButton37" class="evbtn btn btn-light-green"  style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
                    </div>
                </div>
          </div>
          <div class="card">
            <div class="imgBx" data-text="Wordsworth">
                <img src="assets/img/eventicons/7.png">
            </div>
            <div class="content">
                <div data-title="Wordsworth" data-id="7" data-desc="We are ready to begin the vocabulary marathon. Pack your dictionaries and join the run because PERCEPTION brings you the event 'Wordsworth' where your knowledge of vocabulary will be tested. Tiptoe them with words; with anagrams, crosswords and vocabulary-based fun challenges, we will bring out the creative quotient in you. So keep your 'word-root' strong, for we come to thrill your brains.">
                   <h3 class="glitch" data-text="Wordsworth">Wordsworth</h3>
                   <p class="glitch" data-text="Challenge Your Vocabulary!">Challenge Your Vocabulary!</p>
                   <button id="eventButton46" class="evbtn btn btn-light-green" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
                </p>
               </div>
            </div>
      </div>
          <div class="card">
            <div class="imgBx" data-text="Wartalap">
                <img src="assets/img/eventicons/6.png">
            </div>
            <div class="content">
                <div data-title="Wartalap" data-id="6" data-desc="Would India achieve its economic targets or collapse? Is world peace at stake? What about climate change? Questions are plenty and the voices should be huge. Come make an impact and be heard. PERCEPTION brings you 'Wartalaap', a debate competition which revolves around current topics.">
                   <h3 class="glitch" data-text="Wartalap">Wartalap</h3>
                   <p class="glitch" data-text="Don’t settle! Debate!">Don’t settle! Debate!</p>
                   <button id="eventButton45" class="evbtn btn btn-light-green" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
                </p>
               </div>
            </div>
      </div>
      <div class="card">
            <div class="imgBx" data-text="TITT">
                <img src="assets/img/eventicons/10.png">
            </div>
            <div class="content">
                <div data-title="TITT" data-id="10" data-desc="Ever zoned out in the middle of the day thinking about alternate endings to your favourite movie, or how the movie would have turned out if some plots or scenes were changed? Are you someone who scripts make-believe stories and get a kick out of it? Do you like making really weird jokes about seemingly unrelated topics and have a great laugh? Look no further. In 'Twist in the Tale', we will go bonkers about movies, controversies, politics and so much more.">
                   <h3 class="glitch" data-text="Twist in The Tale">Twist in The Tale</h3>
                   <p class="glitch" data-text="Tell your story with alternate endings!">Tell your story with alternate endings!</p>
                   <button id="eventButton38" class="evbtn btn btn-light-green" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
                </div>
            </div>
      </div>
      <!-- <div class="card">
            <div class="imgBx" data-text="India Quiz">
                <img src="assets/img/eventicons/thinking.png">
            </div>
            <div class="content">
                <div data-title="India Quiz" data-id="9" data-desc="Ever zoned out in the middle of the day thinking about alternate endings to your favourite movie, or how the movie would have turned out if some plots or scenes were changed? Are you someone who scripts make-believe stories and get a kick out of it? Do you like making really weird jokes about seemingly unrelated topics and have a great laugh? Look no further. In 'Twist in the Tale', we will go bonkers about movies, controversies, politics and so much more.">
                   <h3 class="glitch" data-text="India Quiz">India Quiz</h3>
                   <p class="glitch" data-text="Tech and Business Tasks and Fundas">Tech and Business Tasks and Fundas</p>
                   <button id="eventButton39" class="evbtn btn btn-light-green" data-toggle="modal" data-target="#eventModal39" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
                </div>
            </div>
      </div> -->
    </div>
      </div>
</section>

      <script>
        // build scenes
        var revealElements = document.getElementsByClassName("card");
        for (var i=0; i<revealElements.length; i++) {
            new ScrollMagic.Scene({
                                triggerElement: revealElements[i], // y value not modified, so we can use element as trigger as well
                                offset: 30,												 // start a little later
                                triggerHook: 0.98,
                                reverse:false,
                            })
                            .setClassToggle(revealElements[i], "visible") // add class toggle
                         //   .addIndicators({name: "digit " + (i+1) }) // add indicators (requires plugin)
                            .addTo(controller);
        }
    </script>
        <script src="js/sweet.js"></script>
    <% if(message) { %>
        <script>
          let message = "<%= message %>";
          Toast.fire({
              position: 'top-left',
            title: message
          });
        </script>
      <% } %>
    </body>
</html>