<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Management Events </title>
    <meta name="description" content="Management events of Perception 2020">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/stylenew.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

</head>
<body >
        <%- include('partials/preloader') %>
        <%- include('partials/navbar') %>
        <%- include('partials/modal') %>
        <script>
            // init controller
            var controller = new ScrollMagic.Controller();
        </script>
        <style type="text/css">
            .card {
                opacity: 0;
                -webkit-transform: translateX(-100px);
                     -moz-transform: translateX(-100px);
                        -ms-transform: translateX(-100px);
                         -o-transform: translateX(-100px);
                                transform: translateX(-100px);
                -webkit-transition: all 2.6s ease-out;
                     -moz-transition: all 1.6s ease-out;
                        -ms-transition: all 1.6s ease-out;
                         -o-transition: all 1.6s ease-out;
                                transition: all 0.6s ease-out;
            }
            .card.visible {
                opacity: 1;
                -webkit-transform: none;
                     -moz-transform: none;
                        -ms-transform: none;
                         -o-transform: none;
                                transform: none;
            }



        
        @media screen and (min-width: 768px) {
        .container{
          margin-top:-350px;
      }
      }
            
      .link-to-home {
    position:absolute;
    top: 20px;
    left: 50px;
    z-index: 9999;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 3px;
    background-position: center center;
    background-size: cover;
    background-image: url('../assets/img/Homelogo.png');
    box-shadow: 0 0 0 2px rgba(12,12,12,.1);
    transition: opacity .2s, border-radius .2s, box-shadow .2s;
    transition-timing-function: ease-out;
    }
    .link-to-home:hover {
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 0 20px rgba(12,12,12,.1);
    }
    @media (max-width: 767px){
    .Homelogo{
        height: 40px;
    }
    
}

        </style>


       
     <!-- home button -->
    <section class="Homelogo">
        <a href="/" class="link-to-home" ></a>
    </section>

<section>
      <center ><div class="gradient-box"><span>MANAGEMENT EVENTS</span></div></center>
     <div class="wrapper">
     <div class="container">
      
      <div class="card">
            <div class="imgBx" data-text="Biz Quiz">
                <img src="assets/img/eventicons/13.png">
            </div>
            <div class="content">
                <div data-title="Biz Quiz" data-id="13" data-desc="The 'Biz Quiz' is a business quiz, which will encompass all things related to business including origins, logos and innovations.">
                   <h3 class="glitch" data-text="Biz Quiz">Biz Quiz</h3>
                   <p class="glitch" data-text="Quiz On Business">Quiz On Business </p>
                   <button id="eventButton40" class="evbtn btn btn-light-green"  style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
                </div>
            </div>
      </div>
       <div class="card">
            <div class="imgBx" data-text="Idea Challenge">
                <img src="assets/img/eventicons/14.png">
            </div>
            <div class="content">
                <div data-title="Idea Challenge" data-id="14" data-desc="Ideas. One of the most quintessential things that drive the world forward. But ideas also happen to be the one thing that can make you filthy rich. This Perception, come join us, think of an idea with a business plan, pitch and prove to us that it can be successful. Be the best and the prizes are yours.">
                   <h3 class="glitch" data-text="Idea Challenge">Idea Challenge</h3>
                   <p class="glitch" data-text="Present Your Creative Idea!">Present Your Creative Idea!</p>
                   <button id="eventButton41" class="evbtn btn btn-light-green"  style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
                </div>
            </div>
      </div>
       <div class="card">
            <div class="imgBx" data-text="Logo Quiz">
                <img src="assets/img/eventicons/15.png">
            </div>
            <div class="content">
                <div data-title="Logo Quiz" data-id="15" data-desc="Do you ever just wonder how marvellous an idea was it to symbolize what something represents as a simple logo? Do you marvel at their beauty? And most importantly do you have what it takes to guess whose logo is it? Come and guess the most familiar logos, something that we all see daily and be a winner.">
                   <h3 class="glitch" data-text="Logo Quiz">Logo Quiz</h3>
                   <p class="glitch" data-text="Guess the Logo!">Guess the Logo!</p>
                   <button id="eventButton42" class="evbtn btn btn-light-green" style="background:cornflowerblue; float: right;">Know More<i class="fa fa-arrow-circle-right ml-1"></i></button>
                </div>
            </div>
      </div>
    </div>
     </div>
</section>

    <script>
        // build scenes
        var revealElements = document.getElementsByClassName("card");
        for (var i=0; i<revealElements.length; i++) {
            new ScrollMagic.Scene({
                                triggerElement: revealElements[i], // y value not modified, so we can use element as trigger as well
                                offset: 30,												 // start a little later
                                triggerHook: 0.98,
                                reverse:false,
                            })
                            .setClassToggle(revealElements[i], "visible") // add class toggle
                         //   .addIndicators({name: "digit " + (i+1) }) // add indicators (requires plugin)
                            .addTo(controller);
        }
    </script>
    <% if(message) { %>
        <script src="js/sweet.js"></script>
        <script>
          let message = "<%= message %>";
          Toast.fire({
              position: 'top-middle',
            title: message
          });
        </script>
      <% } %>
    </body>
</html>