<html>
  <head>
    <style>
      body {
        background-color: black;
        color: white;
      }
      #logo {
        margin: auto;
        text-align: center;
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <div id="logo">
      <img src="cid:logo">
    </div>
    <p>Dear <b><%= name %></b></p>
    <p><b>Greetings from Team Perception!</b></p>
    <br>
    <p>You have succesfully registered for <b>Perception 2020</b>.</p>
    <p>Your perception id is: <b><%= pid %></b></p> 
    <p>Kindly visit: <a href="https://perception.cet.edu.in">https://perception.cet.edu.in</a> to register for different events of Perception 2020.</p>
    <br>
    <p>Follow our Facebook and Instagram pages for more details and regular updates:</p>
    <p>
      <a href="https://facebook.com/perception.cetb">https://facebook.com/perception.cetb</a>
    </p>
    <p>
      <a href="https://instagram.com/perception.cetb">https://instagram.com/perception.cetb</aa>
    </p>
    <br>
    <p>For any queries, please contact us at</p>
    <a href="mailto:perceptioncet@gmail.com">perceptioncet@gmail.com</a>
  </body>
</html>