body , html {
  height: 100%;
  margin: 0;
  width: 100%;
  padding: 0;
  /* background-color: black; */
}

a {
  color: #00B7FF;
}

.img {
  margin: 0;
  padding: 0;
  background-image: url("../assets/img/Perception.jpeg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  /* font-stretch: extra-expanded; */
  /* font-size: 30px; */
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  padding: 20px;
}
.h2 {
  text-align: center;
  padding: 4%;
}
