@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

*{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #222;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 40px;
}
.container .card{
    position: relative;
    height:  150px;
    background: #fff;
    display: flex;
    width: 30%;
    margin: 30px -22px;
}
.container .card .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgBx{
    width: 90px;
    height: 90px;
    left: -45px;
    top: calc(50% - 45px);
    transition: 0.5s ease-in-out;
    background-image: linear-gradient(to right, #05f7fe, #01fdfb, #04fdfe, #06feff, #3cffc0, #66f997, #9efc6c, #c6fd3e, #eff935, #f9fb07, #d1f14d);
}
.container .card .imgBx:before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: rgba(255,255,255,0.05);
    font-weight: 700;
}
.container .card .imgBx img{
    max-width: 60px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgBx img{
    max-width: 65px;
}
.container .card .content{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card .content h3{
    margin-bottom: 5px;
    font-size: 24px;
}
@media (max-width: 992px){
    .container{
        width:100%;
        flex-direction: column;
        align-items: center;
    }
    .container .card{
        width: 400px;
    }
}
@media (max-width: 768px){
    .container .card{
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }
    .container .card .imgBx{
        position: relative;
    }
    .container .card .imgBx,
    .container .card:hover .imgBx{
        width: 100%;
        height: 200px;
        left: 0;
    }
    .container .card .imgBx img,
    .container .card:hover .imgBx img{
        max-width: 100px;
    }
    .container .card .content{
        position: relative;
        width: 100% ;
    }
}






.glitch {
  color: black;
  font-size: 20px;
  text-transform: upercase;
  position: relative;
  display: inline-block;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}
.glitch::before {
  left: 2px;
  text-shadow: -2px 0 #49FC00;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: -2px;
  text-shadow: -2px 0 #b300fc;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(95px, 9999px, 97px, 0);
  }
  4.166666666666666% {
    clip: rect(124px, 9999px, 75px, 0);
  }
  8.333333333333332% {
    clip: rect(105px, 9999px, 42px, 0);
  }
  12.5% {
    clip: rect(8px, 9999px, 109px, 0);
  }
  16.666666666666664% {
    clip: rect(10px, 9999px, 130px, 0);
  }
  20.833333333333336% {
    clip: rect(122px, 9999px, 99px, 0);
  }
  25% {
    clip: rect(130px, 9999px, 148px, 0);
  }
  29.166666666666668% {
    clip: rect(122px, 9999px, 133px, 0);
  }
  33.33333333333333% {
    clip: rect(82px, 9999px, 115px, 0);
  }
  37.5% {
    clip: rect(84px, 9999px, 3px, 0);
  }
  41.66666666666667% {
    clip: rect(92px, 9999px, 81px, 0);
  }
  45.83333333333333% {
    clip: rect(109px, 9999px, 52px, 0);
  }
  50% {
    clip: rect(133px, 9999px, 78px, 0);
  }
  54.166666666666664% {
    clip: rect(128px, 9999px, 106px, 0);
  }
  58.333333333333336% {
    clip: rect(23px, 9999px, 39px, 0);
  }
  62.5% {
    clip: rect(125px, 9999px, 23px, 0);
  }
  66.66666666666666% {
    clip: rect(110px, 9999px, 71px, 0);
  }
  70.83333333333334% {
    clip: rect(105px, 9999px, 102px, 0);
  }
  75% {
    clip: rect(98px, 9999px, 48px, 0);
  }
  79.16666666666666% {
    clip: rect(85px, 9999px, 78px, 0);
  }
  83.33333333333334% {
    clip: rect(79px, 9999px, 54px, 0);
  }
  87.5% {
    clip: rect(128px, 9999px, 63px, 0);
  }
  91.66666666666666% {
    clip: rect(56px, 9999px, 22px, 0);
  }
  95.83333333333334% {
    clip: rect(131px, 9999px, 71px, 0);
  }
  100% {
    clip: rect(97px, 9999px, 142px, 0);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(95px, 9999px, 97px, 0);
  }
  4.166666666666666% {
    clip: rect(124px, 9999px, 75px, 0);
  }
  8.333333333333332% {
    clip: rect(105px, 9999px, 42px, 0);
  }
  12.5% {
    clip: rect(8px, 9999px, 109px, 0);
  }
  16.666666666666664% {
    clip: rect(10px, 9999px, 130px, 0);
  }
  20.833333333333336% {
    clip: rect(122px, 9999px, 99px, 0);
  }
  25% {
    clip: rect(130px, 9999px, 148px, 0);
  }
  29.166666666666668% {
    clip: rect(122px, 9999px, 133px, 0);
  }
  33.33333333333333% {
    clip: rect(82px, 9999px, 115px, 0);
  }
  37.5% {
    clip: rect(84px, 9999px, 3px, 0);
  }
  41.66666666666667% {
    clip: rect(92px, 9999px, 81px, 0);
  }
  45.83333333333333% {
    clip: rect(109px, 9999px, 52px, 0);
  }
  50% {
    clip: rect(133px, 9999px, 78px, 0);
  }
  54.166666666666664% {
    clip: rect(128px, 9999px, 106px, 0);
  }
  58.333333333333336% {
    clip: rect(23px, 9999px, 39px, 0);
  }
  62.5% {
    clip: rect(125px, 9999px, 23px, 0);
  }
  66.66666666666666% {
    clip: rect(110px, 9999px, 71px, 0);
  }
  70.83333333333334% {
    clip: rect(105px, 9999px, 102px, 0);
  }
  75% {
    clip: rect(98px, 9999px, 48px, 0);
  }
  79.16666666666666% {
    clip: rect(85px, 9999px, 78px, 0);
  }
  83.33333333333334% {
    clip: rect(79px, 9999px, 54px, 0);
  }
  87.5% {
    clip: rect(128px, 9999px, 63px, 0);
  }
  91.66666666666666% {
    clip: rect(56px, 9999px, 22px, 0);
  }
  95.83333333333334% {
    clip: rect(131px, 9999px, 71px, 0);
  }
  100% {
    clip: rect(97px, 9999px, 142px, 0);
  }
}
@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(7px, 9999px, 113px, 0);
  }
  10% {
    clip: rect(33px, 9999px, 3px, 0);
  }
  13.333333333333334% {
    clip: rect(77px, 9999px, 128px, 0);
  }
  16.666666666666664% {
    clip: rect(99px, 9999px, 138px, 0);
  }
  20% {
    clip: rect(138px, 9999px, 57px, 0);
  }
  23.333333333333332% {
    clip: rect(50px, 9999px, 90px, 0);
  }
  26.666666666666668% {
    clip: rect(128px, 9999px, 36px, 0);
  }
  30% {
    clip: rect(149px, 9999px, 4px, 0);
  }
  33.33333333333333% {
    clip: rect(92px, 9999px, 139px, 0);
  }
  36.666666666666664% {
    clip: rect(104px, 9999px, 79px, 0);
  }
  40% {
    clip: rect(51px, 9999px, 55px, 0);
  }
  43.333333333333336% {
    clip: rect(149px, 9999px, 14px, 0);
  }
  46.666666666666664% {
    clip: rect(97px, 9999px, 99px, 0);
  }
  50% {
    clip: rect(71px, 9999px, 133px, 0);
  }
  53.333333333333336% {
    clip: rect(45px, 9999px, 21px, 0);
  }
  56.666666666666664% {
    clip: rect(2px, 9999px, 5px, 0);
  }
  60% {
    clip: rect(64px, 9999px, 130px, 0);
  }
  63.33333333333333% {
    clip: rect(104px, 9999px, 134px, 0);
  }
  66.66666666666666% {
    clip: rect(119px, 9999px, 114px, 0);
  }
  70% {
    clip: rect(84px, 9999px, 51px, 0);
  }
  73.33333333333333% {
    clip: rect(145px, 9999px, 58px, 0);
  }
  76.66666666666667% {
    clip: rect(82px, 9999px, 149px, 0);
  }
  80% {
    clip: rect(129px, 9999px, 94px, 0);
  }
  83.33333333333334% {
    clip: rect(0px, 9999px, 132px, 0);
  }
  86.66666666666667% {
    clip: rect(16px, 9999px, 88px, 0);
  }
  90% {
    clip: rect(91px, 9999px, 96px, 0);
  }
  93.33333333333333% {
    clip: rect(47px, 9999px, 111px, 0);
  }
  96.66666666666667% {
    clip: rect(71px, 9999px, 99px, 0);
  }
  100% {
    clip: rect(29px, 9999px, 15px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(7px, 9999px, 113px, 0);
  }
  10% {
    clip: rect(33px, 9999px, 3px, 0);
  }
  13.333333333333334% {
    clip: rect(77px, 9999px, 128px, 0);
  }
  16.666666666666664% {
    clip: rect(99px, 9999px, 138px, 0);
  }
  20% {
    clip: rect(138px, 9999px, 57px, 0);
  }
  23.333333333333332% {
    clip: rect(50px, 9999px, 90px, 0);
  }
  26.666666666666668% {
    clip: rect(128px, 9999px, 36px, 0);
  }
  30% {
    clip: rect(149px, 9999px, 4px, 0);
  }
  33.33333333333333% {
    clip: rect(92px, 9999px, 139px, 0);
  }
  36.666666666666664% {
    clip: rect(104px, 9999px, 79px, 0);
  }
  40% {
    clip: rect(51px, 9999px, 55px, 0);
  }
  43.333333333333336% {
    clip: rect(149px, 9999px, 14px, 0);
  }
  46.666666666666664% {
    clip: rect(97px, 9999px, 99px, 0);
  }
  50% {
    clip: rect(71px, 9999px, 133px, 0);
  }
  53.333333333333336% {
    clip: rect(45px, 9999px, 21px, 0);
  }
  56.666666666666664% {
    clip: rect(2px, 9999px, 5px, 0);
  }
  60% {
    clip: rect(64px, 9999px, 130px, 0);
  }
  63.33333333333333% {
    clip: rect(104px, 9999px, 134px, 0);
  }
  66.66666666666666% {
    clip: rect(119px, 9999px, 114px, 0);
  }
  70% {
    clip: rect(84px, 9999px, 51px, 0);
  }
  73.33333333333333% {
    clip: rect(145px, 9999px, 58px, 0);
  }
  76.66666666666667% {
    clip: rect(82px, 9999px, 149px, 0);
  }
  80% {
    clip: rect(129px, 9999px, 94px, 0);
  }
  83.33333333333334% {
    clip: rect(0px, 9999px, 132px, 0);
  }
  86.66666666666667% {
    clip: rect(16px, 9999px, 88px, 0);
  }
  90% {
    clip: rect(91px, 9999px, 96px, 0);
  }
  93.33333333333333% {
    clip: rect(47px, 9999px, 111px, 0);
  }
  96.66666666666667% {
    clip: rect(71px, 9999px, 99px, 0);
  }
  100% {
    clip: rect(29px, 9999px, 15px, 0);
  }
}
